JSON_Dictionary.au3 issue

Hello, I am using an old version of Autoit, the JSON_Dictionary.au3 is returning incorrect results.

```
#include <JSON_Dictionary.au3>

$Json1 = FileRead(@ScriptDir & "\test.json")
$Data1 = _JSON_Parse($Json1)
$Json2 = _JSON_Generate($Data1)
ConsoleWrite("Test1 Result: " & $Json2 & @LF)
```

[test.json](https://github.com/user-attachments/files/18631184/test.json)

![Image](https://github.com/user-attachments/assets/f054f272-423c-40a1-a509-76b634f3af96)


**Same problem with json.au3**

I interpret this to mean that the problem is that _JSON_Generate() does not escape Unicode characters as hex notation and that the solidus character (U+002F) is also not escaped. Correct?

In this case, I do **not** consider this **a bug**.

**Explanation**: The task of the _JSON_Generate() function is to serialize a valid JSON string from [nested] AutoIt data structures. It also does this in this case, as various JSON validators also confirm. I am not aware of any JSON standard ([RFC 8259](https://datatracker.ietf.org/doc/html/rfc8259),[ RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159), [RFC 4627](https://www.ietf.org/rfc/rfc4627.txt) or [ECMA-404](https://ecma-international.org/wp-content/uploads/ECMA-404_2nd_edition_december_2017.pdf)) that prescribes the mandatory escaping of the solidus character. Escaping it is merely optional. I am also not aware that Unicode characters must be escaped. Again, it is possible but left to the user. In other words: only optional. Since all standards prescribe at least UTF-8 for JSON string encoding, omitting an escape is therefore no problem.

In my UDF, I deliberately decided against escaping the solidus and the Unicode characters. Without escaping, the JSON is still absolutely standard-compliant and at the same time the readability is increased and the string size is reduced. If everyone involved adheres to the standards, I see no advantage in explicitly setting these escapes.